h3 {
  font-family: var(--ifm-font-family);
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  margin-bottom: 200px; 
}

.subHeaderText { 
  text-align: center; 
  text-transform: uppercase;
  color: var(--ifm-color-primary);
  margin: 0; 
  font-family: var(--ifm-font-family);
  font-size: 1em; 
  font-weight: 500;
}

.headerText { 
  text-align: center;
  text-transform: capitalize;
  margin: 7px 0 75px 0;
  font-family: var(--ifm-font-family);
  font-size: 3em; 
  font-weight: 600;
}

@media only screen and (max-width: 1050px) {

  .headerText { 
    font-size: 2em; 
  }

  .subHeaderText { 
    font-size: 0.9em; 
  }
}
