
.partnerIMG {
    height: 150px; 
    width: 150px;
    margin-bottom: 100px;  
}

.subHeaderText { 
    text-align: center; 
    text-transform: uppercase;
    color: var(--ifm-color-primary);
    margin: 2em 0 0 0; 
    font-family: var(--ifm-font-family);
    font-size: 1em; 
    font-weight: 500;
  }
  
  .headerText { 
    text-align: center;
    text-transform: capitalize;
    margin: 7px 0 75px 0;
    font-family: var(--ifm-font-family);
    font-size: 3em; 
    font-weight: 600;
  }


  @media only screen and (max-width: 1050px) {

    .headerText { 
      font-size: 2em; 
    }
  
    .subHeaderText { 
      font-size: 0.9em; 
    }

    .partnerIMG {
      margin-bottom: 20px; 
  }
}


  